<!DOCTYPE html>
<html>
<head>
    <title>Notes management</title>
	<meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div ng-app="notesApp" ng-controller="notesController">
        <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Category</th>
            </tr>
            <tr ng-repeat="n in notes">
                <td>{{n.Title}}</td>
                <td>{{n.Text}}</td>
                <td>{{n.Category}}</td>
                <td><button ng-click="EditNote(notes[$index])">Edit</button></td>
                <td><button ng-click="DeleteNote($index)">Delete</button></td>
            </tr>
        </table>
        <div>
            <h3 style="margin-bottom:0px" ng-show="showEditFields==false">Add new note</h3>
            <h3 style="margin-bottom:0px" ng-show="showEditFields">Edit note</h3>
            <table>
                <tr>
                    <td><input type="text" placeholder="Title" ng-model="Note.Title" /></td>
                    <td><input type="text" placeholder="Text" ng-model="Note.Text" /></td>
                    <td><input type="text" placeholder="Category" ng-model="Note.Category" /></td>
                </tr>
            </table>
            <button ng-click="AddNote()" ng-show="showEditFields==false">Add</button>
            <button ng-click="UpdateNote()" ng-show="showEditFields">Edit</button>
            <button ng-click="Cancel()" ng-show="showEditFields">Cancel</button>
        </div>
    </div>
    <script src="../Scripts/controller.js"></script>
</body>
</html>
