<!DOCTYPE html>
<html>
<head>
    <title>Notes management</title>
	<meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div ng-app="notesApp" ng-controller="notesController">
        <table>
            <tr ng-repeat="n in notes">
                <td>{{n.NoteId}}</td>
                <td>{{n.Title}}</td>
                <td>{{n.Text}}</td>
                <td>{{n.Category}}</td>
                <td><button>Редагувати</button></td>
                <td><button ng-click="DeleteNote($index)">Видалити</button></td>
            </tr>
        </table>
        <div>
            <h2>Додати новий елемент</h2>
            <table>
                <tr>
                    <td><input type="text" placeholder="Title" ng-model="Note.Title"/></td>
                    <td><input type="text" placeholder="Text" ng-model="Note.Text"/></td>
                    <td><input type="text" placeholder="Category" ng-model="Note.Category"/></td>
                </tr>
            </table>
            <button ng-click="AddNote()">Додати</button>
        </div>
    </div>
    <script>
        var app = angular.module('notesApp', []);
        app.controller('notesController', function ($scope, $http) {
            $http.get(location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + "/api/notes")
            .then(function (response) {
                $scope.notes = response.data;
            });

            $scope.Note = {
                Title: '',
                Text: '',
                Category: ''
            };

            $scope.DeleteNote = function (index) {
                $http({
                    method: 'DELETE',
                    url: location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/api/notes/' + $scope.notes[index].NoteId,
                }).then(function successCallback(response) {
                    $scope.notes.splice(index, 1);
                }, function errorCallback(response) {
                    alert("Error : " + response.data.ExceptionMessage);
                });
            };

            $scope.AddNote = function () {
                if ($scope.Note.Title != "" && $scope.Note.Text != "" && $scope.Note.Category != "") {
                    $http({
                        method: 'POST',
                        url: location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/api/notes',
                        data: $scope.Note
                    }).then(function successCallback(response) {
                        $scope.notes.push(response.data);
                    }, function errorCallback(response) {
                        alert("Error : " + response.data.ExceptionMessage);
                    });
                }
                else {
                    alert('Not all fields are filled!');
                }
            };

        });
    </script>
</body>
</html>
